<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="header">
        <h2><strong style="margin-left: 246px;">Contact</strong></h2>
        <p style="margin-left: 246px;">This is the contact</p>
    </div>
    <div class="container w-50 mb-3">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row d-flex justify-content-end">
                    <div class="col-3">
                        <div class="mb-3 text-end">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                          </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-3">
                        <div class="mb-3 text-end">
                            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="mb-3">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-6 text-end">
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>

</body>
</html>