<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
</head>
<body>
    <div class="header ">
        <h2><strong style="margin-left: 246px;">Porfolio</strong></h2>
        <p style="margin-left: 246px;">Donec ullamcorper nulla non metus auctor fringilla. Vistibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus , tellus ac cursus commodo.</p>
    </div>
    <div class="container-fluid d-flex justify-content-center mb-3">
        <div class="row">
            <div class="col-4 ">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/300" class="card-img-top" alt="..." width="700" height="200">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/300" class="card-img-top" alt="..." width="700" height="200">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/300" class="card-img-top" alt="..." width="700" height="200">
                    <div class="card-body">
                        <h3 class="text-primary">Project Name</h3>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
    <hr style="background-color: gray; width: 1000px; margin:auto">
</body>
</html>
